// Custom Quasar SCSS Theme
// --------------------------------------------------

$primary: #790622; // Rich Blue
$secondary: #fffcef; // Pale Gray
$accent: #790622;

$dark: #790622;
$dark-page: #790622;

$positive: #790622;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// UI Enhancement Variables
$border-radius-base: 3rem;
$layout-padding: 1.5rem;

// Optional Brand Tokens
$brand-rich-blue: #790622;
$brand-pale-gray: #ffffff;


$backgroundColor: #f2f2f6;
$textColor: #616161;